.account-global h1 {
    margin: 30px 0px 50px 0px;
}

.account-global h3 {
    margin: 15px;
    padding: 10px;
    background-color: #34911c;
    color: white;
    width: 70%;
    text-transform: uppercase;
}

.account-container {
    display: flex;
    justify-content: space-evenly;
}

.account-connexion,
.account-inscription {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    box-shadow: 1px 1px 12px #555;
    height: 480px;
}

.account-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    /* background-color: bisque; */
}

.account-form {
    display: flex;
    height: 75%;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .account-connexion,
    .account-inscription {
        width: 45%;
    }

    .account-or {
        display: none;
    }
}

@media (max-width: 800px) {
    .account-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 40px;
    }

    .account-connexion,
    .account-inscription {
        width: 80%;
    }

    .account-or {
        display: none;
    }
}
