.home-global {
    background-color: rgb(244, 244, 244);
}

.home-message {
    padding: 4vh 0px 5px 0px;
}

.home-message h1 {
    font-size: 1.8rem;
}

.home-message span {
    white-space: nowrap;
}
