.sign-up-in {
    /* background-color: aqua; */
    width: 80%;
    height: 80%;
}

.sign-up-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blueviolet; */
    height: 100%;
    color :#91ea7af1;
}

.sign-up-in-input {
    height: 40px;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding-left : 5px;
}

.sign-in-validation {
    margin: 20px 0px 20px 0px;
}

.sign-up-validation {
    margin: 20px 0px 0px 0px;
}

.sign-in-validation,
.sign-up-validation {
    padding: 8px;
    background-color: #34911c;
    color: white;
    border-color: transparent;
    text-transform: uppercase;
}

.sign-in-validation:hover,
.sign-up-validation:hover {
    cursor: pointer;
}

.sign-up-link:hover {
    cursor: pointer;
}
