.cart-global {
    padding: 10px 0px 20px 0px;
    min-width: 60vw;
}

.cart-header {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 30px 0px 30px;
    height: 40px;
}

.cart-title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-buttons {
    padding: 0px 5px 0px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.cart-separation {
    padding: 10px 0px 10px 0px;
}

.cart-remove {
    height: 80%;
    padding: 0px 10px 0px 10px;
    margin-right: 5px;
}

.cart-paiement {
    height: 100%;
    background-color: #34911c;
    color: white;
    font-size: 1.2rem;
    padding: 0px 20px 0px 20px;
    margin-left: 5px;
}

.cart-global h4 {
    padding-bottom: 10px;
}

.cart-list {
    list-style-type: none;
    padding: 5px 30px 5px 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    /* background-color: #31b572; */
}

.cart-element {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px 12px #555;
    margin: 15px 10px 10px 10px;
    background-color: white;
    height: 280px;
    width: 190px;
}

.cart-element-name {
    /* background-color: dodgerblue; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-element-img {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.cart-element-info {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    flex-direction: column;
}

.cart-element-add-qt {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-element-price {
    padding: 0px 0px 5px 0px;
}

.cart-element-add-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 5px 0px 5px 0px;
}

.cart-element-remove {
    height: 30%;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

@media (max-width: 800px) {
    .cart-global h2 {
        font-size: 1.6rem;
    }

    .cart-title {
        justify-content: center;
    }

    .cart-remove {
        font-size: 0.9rem;
    }

    .cart-paiement {
        font-size: 1.1rem;
        padding: 0px 12px 0px 12px;
    }

    .cart-separation {
        padding: 5px 0px 5px 0px;
    }
}

@media (max-width: 400px) {
    .cart-title {
        justify-content: start;
    }
}
