.footer-global {
    position : sticky;
    top : 100%;
}

.footer-copyright {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0px 10px 0px;
}

.copyRight p {
    display: block;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.footer-global {
    width: 100%;
}

.footer-separation {
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 0.8rem,
        #ebebeb 0.8rem,
        #ebebeb 1.6rem
    );
    height: 2.4rem;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.footer-contact {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.footer-contact-info {
    width: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
    align-items: center;
    padding : 15px 0px 30px 0px;
}

.footer-contact-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-contact-info h3 {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.footer-contact-info span {
    padding: 3px 0px 3px 0px;
}

#footer-social-networks {
    padding: 4px 8px 4px 8px;
}

#footer-star {
    padding: 4px;
}

@media (max-width: 1000px) {
    .footer-contact-info:nth-child(2),
    .footer-contact-info:nth-child(4) {
        width: 32%;
    }

    .footer-contact-info:nth-child(1) {
        width: 36%;
    }

    .footer-contact-info:nth-child(3) {
        display: none;
    }
}

@media (max-width: 700px) {
    .footer-contact-info:nth-child(2),
    .footer-contact-info:nth-child(3),
    .footer-contact-info:nth-child(4) {
        display: none;
    }
    .footer-contact-info:nth-child(1) {
        width: 100%;
    }
}
