.opinions-others-container {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 0px 1px black;
    padding: 10px;
}

.opinions-others-list {
    height: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 600px);
    grid-gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px 0px 20px;
    transform: rotateY(180deg);
    transform: rotateX(180deg);
}

.opinions-added-container {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 0px 1px black;
    padding: 10px;
}

.opinions-others-profile {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opinions-others-profile img {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    padding: 5px;
}

.opinions-others-profile p {
    width: 60%;
    padding-top: 5px;
}

.opinions-others-description {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
}

#opinions-others-star {
    color: rgb(235, 200, 0);
    font-size: 1.4rem;
}

.opinions-others-row {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.opinions-others-row:nth-child(1) {
    height: 20%;
    padding: 5px;
}

.opinions-others-row:nth-child(2) {
    height: 20%;
    padding: 5px;
}

.opinion-input-my-date {
    padding-right : 10px;
    color : grey;
}

.opinions-others-row:nth-child(3) {
    height: 40%;
    padding: 8px;
    text-align: left;
}

.opinions-others-row:nth-child(4) {
    height: 20%;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
}

.opinions-others-row:nth-child(4) button:nth-child(1) {
    padding: 2px;
    cursor: pointer;
}

.opinions-others-row:nth-child(4) button:nth-child(2) {
    color: grey;
    background-color: transparent;
    padding: 2px;
    border: none;
}

.opinions-others-row:nth-child(4) button:nth-child(2):hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 500px) {
    .opinions-others-container {
        height: 100%;
    }

    .opinions-others-profile img {
        max-width: 70px;
        max-height: 70px;
        width: 100%;
        padding: 5px;
    }

    .opinions-others-row p {
        padding: 5px 0px 5px 0px;
    }
}
